/* Projects.css */

#projects {
  background-color: #f9f9f9;
  padding: 40px 20px;
  border-radius: 10px;
  margin-top: 60px; /* Margin to create space from previous section */
}

#projects h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-item h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.project-item p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}

.project-item a {
  display: inline-block;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
}

.project-item a:hover {
  background-color: #0056b3;
}
