/* Resume.css */

#resume {
  background-color: white;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 60px; /* Margin to create space from previous section */
}

#resume h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#resume a {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  text-transform: uppercase;
}

#resume a:hover {
  background-color: #0056b3;
}
